$branding-primary-color: #192839;

$text-primary-color: #525151;

$text-white-color: #fff;

$table-th-bg-color: #6b6c7e;
$table-td-bg-color: #f2f2f2;

$btn-primary-color: #2e846c;
$btn-border-color: #2e846c;

$grey-color: darkgrey;